[Unit]
Description=XanhNow Security Vault Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=xanhnow
Group=xanhnow
ExecStart=/usr/local/bin/vault agent -config=/etc/xanhnow/s101/security/vault-agent.hcl
Restart=always
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=xanhnow-security-vault-agent

[Install]
WantedBy=multi-user.target
